.widget{border:1px solid #e5e5e5;padding:20px 25px;box-shadow:0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;background:#fff;}
.widget{margin-bottom:25px;margin-right: 3%;}
.widget p:last-child, article p:last-child{margin-bottom:0;}
.widget.search{background:none;padding:0;border:none;box-shadow:none;}
.wrapper{padding:20px; width:100%; position:relative;display: flex;justify-content: center;flex-wrap: wrap;}
.light-wrapper{background:#f8f4ff !important;}
.dark-wrapper{background:#333743 !important;}

a.active, #selectnav li a:hover{color:#e74c3c;}
a.active{border-color:#b7b7b7;color:#111;}
img{vertical-align:bottom;}
h1, h2, h3, h4, h5, h6, a{font-weight:300;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color:#414141;}
p{margin-bottom:25px;}
.service{text-align:center;}
.break15{width:100%;height:15px;}
.margin-bottom-10{margin-bottom:10px;}
.one_fourth {
    min-width: 230px;
}
footer a:hover {
    text-decoration-line: underline;
}